.resume-builder {
   .card {
      height: 250px;
      position: relative;
      width: 200px;
      left: 20px;
      box-shadow: 1px 1px 4px black;
      transition: all 100ms;
      float: left;
      transition: all .3s ease-in-out;
      &:hover {
         box-shadow: 1px 1px 10px black;
      }
      &.open {
         height: 630px;
         width: 90%;
         transition: all .3s ease-in-out;
      }
   }
}
